<<<<<<< HEAD
.logo {
    color: #fff;
    font-size: 24px;
    padding: 20px;
=======
.logo {
    color: #fff;
    font-size: 24px;
    padding: 20px;
>>>>>>> a715cbd2a092c74c41dc8dea93d19e939655694c
}