.home__container {
  padding: 24px;
}
.company_info {
  display: flex;
  margin-bottom: 100px;
  .left {
    width: 40%;
    p {
      font-size: 24px;
      font-weight: 500;
      span {
        color: #0057ff;
      }
    }
  }
  .right {
    width: 60%;
    height: 380px;
    background-image: url('../../assert/ai.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.about_us {
  margin: 10px 0px;
  background-color: #0057ff0f;
}
.product {
  display: flex;
  justify-content: center;
}
.products_title {
  span {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
  }
}
.product_list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px 0px;
  padding: 10px;
  background-color: #0057ff0f;
  .product_list_item_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
    height: 160px;
    margin: 10px;
    box-shadow: 8px 8px 20px 0 rgba(55,99,170,.1), -8px -8px 20px 0 #fff;;
    padding: 10px;
    background-color: #fff;
    border-radius: 6px;
    &:hover {
      box-shadow: 8px 8px 20px 0 rgba(55,99,170,.1), -8px -8px 20px 0 #cacaca;
    }
    p {
      margin: 0px;
    }
    .product_list_item_info  {
      .product_title {
        font-size: 18px;
        font-weight: 500;
        margin: 6px 0px;
      }
      .product_des {
        font-size: 12px;
        font-weight: 400;
        color: #3e3e3e;
      }
      .product_list_item_btn {
        justify-content: flex-end;
      }
    }
  }
}