.application__container {
    background: #F2F2F2 ;
    height: 100%;
    h1 {
        background: #fff;        
        padding: 5px;
        box-shadow: 0 4px 4px -2px #e4e9f0;
    }
    .application_baseInfo {
        background: #fff;        
        margin: 10px;
        padding: 10px;
        box-shadow: 0 0 4px 4px #e4e9f0;
    }
}